.app {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.overlay {
    position: fixed;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.navbar {
    /* Centering */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    /* Size */
    height: 60px;
    width: 70%;

    /* Graphics */
    color: #d7d7d7;
    transition: top .5s cubic-bezier(.69,-0.25,.48,.5);
    pointer-events: auto;
}

.navbar > div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease-out;
    height: 60%;
}

.navbar > div:hover {
    background-color: #3e555d;
    color: white;
}

.navbar#down {
    top: 20px;
}

.navbar#up {
    top: -100px;
}

.post {
    /* Size */
    position: absolute;
    color: white;
    margin: 20px;
    width: calc(60% - 40px);
    height: calc(100% - 40px);

    /* Position */
    left: 40%;
    background: #17171A;
    pointer-events: auto;
    overflow-y: scroll;
    transition: transform .75s ease-out;

    display: flex;
}

.post#hidden {
    transform: translateX(120%);
}

.postContent {
    padding: 20px;
}

.closeButton {
    position: sticky;
    height: 100%;
    width: 3%;
    background-color: #2c2c31;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}